.whoami-content{
    font-family: $secondary-font-stack;
    p{
        width: 45%;
        margin: 40px auto;
        margin-bottom: 10px;
        text-align: center;
        font-size: 25px;
    }
    .further-information{
        margin: auto;
        margin-bottom: 10px;
        font-size: 15px;
        color: $secondary-color;

        a{
            color: $secondary-color;
            text-decoration: none;
        }
        a:hover{
            color: black;
        }
    }
    .passions{
        display: flex;
        justify-content: space-between;

        .title{
            background-color: rgb(255, 244, 226);
            width: 100%;
        }

        .one{
            width: 40%;
            margin-right: 40px;
            img{
                width: 100%;
            }
            .content{
                p:last-child{
                    text-align: center;
                }
            }
        }
        .passion{
            div{
                padding: 5px;
                p{
                    width: 100%;
                    font-size: 20px;
                    text-align: left;
                }
            }
        }
        .two{
            width: 60%;
            margin-left: 40px;
            img{
                width: 100%;
            }
            div{
                span{
                    background-color:  rgb(255, 244, 226);
                }
            }
        }
    }
}