@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;800&display=swap');

$name-font-stack: 'Great Vibes', sans-serif;
$main-font-stack: 'Slabo 27px', sans-serif;
$secondary-font-stack: 'Noto Serif', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}