@media screen and (max-width: 1024px){
    body{
        main{
            width: 90vw;
            .row-one{
                flex-direction: column;

                .image{
                    width: 300px;
                }
                .title{
                    margin-top: 10px;
                }
            }
            .row-two{
                flex-direction: column;
                margin: 20px 10px;
                div{
                    margin: 10px 0;
                }
                div:first-child{
                    width: 100%;
                }
                .quote{
                    width: 100%;
                }
            }
        }

        .cv-content{
            flex-direction: column;
            .text{
                width: 100%;
            }
            img{
                margin-top: 20px;
            }
            .fourth{
                margin: 0 15px;
            }
        }

        .whoami-content{
            p{
                width: 100%;
            }
            .passions{
                flex-direction: column;

                .one{
                    width: 100%;
                    margin-right: 0;
                }
                .two{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
        
    }
}