@import 'general';
@import 'media';

header{
    display: flex;
    flex-direction: column;
    align-items: center;

    div{
        font-family: $name-font-stack;
        font-size: 20px;
        margin: 10px;
    }

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        font-size: 16px;
        font-family: $main-font-stack;
        li{
            a{
                text-decoration: none;
                padding: 10px;
                color: rgb(119, 118, 118);
            }
            #selected{
                    color: black;
            }
            hr{
                margin: 2px 15px;
                border: 0.5px solid black;
            }
            a:hover, 
            a:active{
                color: black;
            }
        }
    }
}

main{
    width: 85vw;
    margin: 100px auto;

    .introduction{
        font-family: $main-font-stack;
        font-size: 20px;
    }
    div{
        text-align: right;
        font-family: $title-font-stack;

        .titol{
            font-size: 40px;
            margin-top: 100px;
        }
        p.subtitol{
            font-weight: 300;
        }
    }
    .image{
        width: 500px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }

}

