@import 'index';
@import 'cv';
@import 'whoami';

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;800&display=swap');

$name-font-stack: 'Great Vibes', sans-serif;
$main-font-stack: 'Slabo 27px', sans-serif;
$secondary-font-stack: 'Noto Serif', sans-serif;
$secondary-color: rgb(119, 118, 118);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px){
    body{
        main{
            width: 90vw;
            .row-one{
                flex-direction: column;
                align-items: center;

                .title{
                    margin-top: 10px;
                }
            }
            .row-two{
                flex-direction: column;
                margin: 20px 10px;
                div{
                    margin: 10px 0;
                }
                div:first-child{
                    width: 100%;
                }
            }
            .quote{
                width: 100%;
            }
        }

        .cv-content{
            flex-direction: column;
            .text{
                width: 100%;
            }
            img{
                margin-top: 20px;
            }
            .fourth{
                margin: 0 15px;
            }
        }

        .whoami-content{
            p{
                width: 100%;
            }
            .passions{
                flex-direction: column;

                .one{
                    width: 100%;
                    margin-right: 0;
                }
                .two{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
        
    }
}

